:host {
  display: block;
  height: 100%;
}
.mat-simple-snackbar-action{
    color: rgba(55, 115, 226, 1) !important
}
.my-snack-bar button {
    color: rgba(55, 115, 226, 1) !important
}
.mat-button-wrapper{
    color: rgb(152, 177, 224) !important
}
  .style-succes .mat-simple-snackbar-action  {
    color: rgba(55, 115, 226, 1) !important
  }